In [ ]:
import seaborn as sns
df =sns.load_dataset("tips")

In [ ]:
# Bir DataFrame'in satır ve sütun sayısını nasıl bulabilirsiniz?

df.shape

(244, 7)

In [ ]:
# Bir DataFrame'deki belirli bir sütunu nasıl seçersiniz?(tip column seciniz)

df['tip']

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
# Bir DataFrame'deki belirli bir satırı nasıl seçersiniz?(15.satir)

df.loc[15]

total_bill     21.58
tip             3.92
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 15, dtype: object

In [ ]:
# Bir DataFrame'deki belirli bir satırın belirli bir sütunundaki değeri nasıl seçersiniz?

df.loc[72, 'day']

'Sat'

In [ ]:
# Bir DataFrame'deki tüm sütunların adlarını nasıl alırsınız?(columns)

df.loc[:,'total_bill':'size']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# Bir DataFrame'deki tüm sütunların veri tiplerini nasıl alırsınız?(dtypes)

df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [ ]:
# Bir DataFrame'deki tüm satırların bir sütunundaki tekil değerleri nasıl alırsınız? (unique() methodunu kullaniniz)

a  = df['tip'].unique()
a

array([ 1.01,  1.66,  3.5 ,  3.31,  3.61,  4.71,  2.  ,  3.12,  1.96,
        3.23,  1.71,  5.  ,  1.57,  3.  ,  3.02,  3.92,  1.67,  3.71,
        3.35,  4.08,  2.75,  2.23,  7.58,  3.18,  2.34,  4.3 ,  1.45,
        2.5 ,  2.45,  3.27,  3.6 ,  3.07,  2.31,  2.24,  2.54,  3.06,
        1.32,  5.6 ,  6.  ,  2.05,  2.6 ,  5.2 ,  1.56,  4.34,  3.51,
        1.5 ,  1.76,  6.73,  3.21,  1.98,  3.76,  2.64,  3.15,  2.47,
        1.  ,  2.01,  2.09,  1.97,  3.14,  2.2 ,  1.25,  3.08,  4.  ,
        2.71,  3.4 ,  1.83,  2.03,  5.17,  5.85,  3.25,  4.73,  3.48,
        1.64,  4.06,  4.29,  2.55,  5.07,  1.8 ,  2.92,  1.68,  2.52,
        4.2 ,  1.48,  2.18,  2.83,  6.7 ,  2.3 ,  1.36,  1.63,  1.73,
        2.74,  5.14,  3.75,  2.61,  4.5 ,  1.61, 10.  ,  3.16,  5.15,
        3.11,  3.55,  3.68,  5.65,  6.5 ,  4.19,  2.56,  2.02,  1.44,
        3.41,  5.16,  9.  ,  1.1 ,  3.09,  1.92,  1.58,  2.72,  2.88,
        3.39,  1.47,  1.17,  4.67,  5.92,  1.75])

In [ ]:
# Bir DataFrame'deki belirli bir sütundaki tüm değerlerin ortalamasını nasıl hesaplayabilirsiniz?

df['tip'].mean()

2.99827868852459

In [ ]:
# Bir DataFrame'deki belirli bir sütundaki tüm değerlerin standart sapmasını nasıl hesaplayabilirsiniz?


df['tip'].std()

1.3836381890011822

In [ ]:
# Bir DataFrame'deki belirli bir sütunun en büyük değerini nasıl bulabilirsiniz?(total_tip icin yapiniz)

df['total_bill'].max()

50.81

In [ ]:
# Bir DataFrame'deki belirli bir sütunun en küçük değerini nasıl bulabilirsiniz?(tip sutunu icin yapiniz)

df['tip'].max()

10.0

In [ ]:
# Bir DataFrame'deki belirli bir sütundaki değerlerin sayısını nasıl hesaplayabilirsiniz?(count method)

df['tip'].count()

244

In [ ]:
# Bir DataFrame'deki belirli bir sütunun medyanını nasıl hesaplayabilirsiniz?(median)

df['total_bill'].median()

17.795

In [ ]:
# Bir DataFrame'deki belirli bir sütundaki en sık tekrar eden değeri nasıl bulabilirsiniz?(mode kullaniniz)

df['sex'].mode()

0    Male
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

In [ ]:
# Bir DataFrame'deki belirli bir sütunu küçükten büyüğe nasıl sıralayabilirsiniz?

df.sort_values('total_bill')

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [ ]:
#Bir DataFrame'deki belirli bir sütunu büyükten küçüğe nasıl sıralayabilirsiniz?

df.sort_values('total_bill', ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [ ]:
# Bir DataFrame'deki belirli bir sütunda belirli bir koşulu sağlayan değerleri nasıl seçebilirsiniz?(tip>2 icin sorgulayin)

df[df['tip'] > 2]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[166 rows x 7 columns]